*{
    /* https://coolors.co/a2bff6-2c71f2-004fe0-000714-161c27-2b3444-404b60-5c677d-7d8597-979dac */
    --color-grayscale0: #000714;
    --color-grayscale1: #161c27;
    --color-grayscale2: #2b3444;
    --color-grayscale3: #404b60;
    --color-grayscale4: #5c667d;
    --color-grayscale5: #7d8597;
    --color-grayscale6: #979dac;
    --color-highlight: #004fe0;
    --color-highlight-hover: #2c71f2;
    --color-highlight-alt: #FFFFFF;
    --color-highlight-alt-hover: #a2bff6;
}

body{
    background-color: var(--color-grayscale0);
}

nav {
    background-color: violet;
}

.nav-link {
    transition: text-shadow 0.3s ease-in-out;
}

.nav-link:hover {
    text-shadow: 0 0 10px var(--color-highlight-alt-hover);
}

.nav-link.active .nav-link:hover {
    font-weight: 600;
    text-shadow: 0 0 15px var(--color-highlight-alt);
}
.nav-link.active {
    font-weight: 600;
    text-shadow: 0 0 15px var(--color-highlight-alt);
}
#footer{
    background-color: var(--color-grayscale2);
    color: var(--color-grayscale6);
}

#carouselExampleCaptions {
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,.5)!important;
}

.invertcolor { filter: invert(100%);}

@media (max-width: 286px){
    .navbar-brand{
        font-size: 0;
    }
    p{
        font-size: 0.8em;
        font-weight: 600;
    }
    p.lead{
        font-size: 0.9em;
        font-weight: 700;
    }
}